<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>New technologies</b>. I'm always excited to learn new technologies and apply them on my new projects.
			  </li>
			  <li>
				  <b>Video Games</b>. Video games can be only thing that I will never got bored of, so I will keep playing
			  </li>
			  <li>
				  <b>Football</b>. I am huge fan of Galatasaray and I'm trying to watch all matches also I follow other leagues as a hobby.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				I developed one big mobile project both Android and iOS platforms. The purpose of the application is to follow the advertisements on the billboards we see frequently on the street or in various places (ad tracking)
    		</li>
  			<li>
				I've been working on my graduating project right now
  			</li>
  		    </ul>
      </div>
    </div>
  </div>
</section>
